.character {
    width: 64px;
	padding-top:128px;
    height: 64px;
    /* background-color: red; */
}
.character > img {
	position:relative;
	width: 64px;
    height: 64px;
    image-rendering: pixelated;
}