.character {
   width: 40px;
	/*padding-top:128px;*/
    height: 59px;
    /* background-color: red; */
}
.character > img {
	position:relative;
	width: 40px;
   height: 59px;
    image-rendering: pixelated;
}