.character {
   width: 40px;
	/*padding-top:128px;*/
    height: 59px;
    /* background-color: red; */
}

.character > img {
	position:relative;
	width: 40px;
   height: 59px;
    image-rendering: pixelated;
}
.characterShadow {
  left: 15px;
  top: -30px;
  opacity: 0.30;
  z-index: 0;
  transform: scale(1) skew(-45deg);
}