@font-face {
	 font-family: "8bit";
	 src: url("../fonts/8bit.ttf")
}

body {
	cursor:none;
	font-family:"8bit";
	background-image: url("../fonts/sky.gif");
	background-position: 0 0;
	background-size: 100% 100%;
	color:white;
	text-align:center;
}