@font-face {
	 font-family: "8bit";
	 src: url("../assets/fonts/8bit.ttf")
}
body {
	background: black;
	background-size: 100% 100%;
	image-rendering: pixelated;
}
* {
	font-family:"8bit";
	color:white;
	text-align:center;
}

button {
	background: black;
	border: 2px solid #4f4f4f;
	border-radius: 5px;
	width: 45%;
	/* padding-left: 45px; */
	/* padding-right: 45px; */
	padding-top: 15px;
	padding-bottom: 15px;
	position:relative;
	text-align:center;
}

.IndexWidth {
	width: 150px;
	/* padding-left: 35px; */
	/* padding-right:35px; */
	padding-top: 15px;
	padding-bottom: 15px;
}

button:hover {
	background: #161616
}

#bg {
  background-image: url('../assets/fonts/menu.jpg');
  background-size: 100% 100%;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

input {
	border-radius: 5px;
	padding:5px;
	background: #0f0f0f
}