.center {
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width:500px;
	height:250px;
	
    margin: auto;
}

* {
	user-select:none;
}

#overlay {
	background: #ffffff8f;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
	width:100%;
	height:100%
}